@import url("./styles/_normalize.scss");

html {
  scroll-behavior: initial;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  body {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

:root {
  background-color: #fbfafa;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 72px;
    margin: 0;
  }

  h2 {
    font-size: 34px;
    margin: 0;
  }

  p {
    font-size: 18px;
    margin: 0;
  }
  span {
    background: linear-gradient(
      to right,
      rgb(0, 120, 194) 15%,
      rgb(0, 71, 255) 50%,
      rgb(132, 83, 210) 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    .container {
      max-width: 90%;
    }

    h1 {
      font-size: 54px;
      margin: 0;
    }

    h2 {
      font-size: 26px;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }
}
@media screen and (max-width: 780px) {
  :root {
    .container {
      max-width: 80%;
    }
    h1 {
      font-size: 48px;
      margin: 0;
    }

    h2 {
      font-size: 24px;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }
}
@media screen and (max-width: 420px) {
  :root {
    h1 {
      font-size: 40px;
      margin: 0;
    }

    h2 {
      font-size: 24px;
      margin: 0;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }
}
