.signupContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .signupTitle {
    width: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 180px;

    h1 {
      color: #575757;
      font-size: 50px;
      margin: 0;
    }
  }

  .signupInput {
    margin-top: 20px;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .signupContent {
    padding: 0 20px;

    .signupTitle {
      width: 100%;
      gap: 20px;

      h1 {
        font-size: 40px;
      }
    }

    .signupInput {
      div {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .signupContent {
    .signupTitle {
      gap: 10px;

      h1 {
        font-size: 35px;
      }
    }

    .signupInput {
      div {
        gap: 5px;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .loginContent {
    padding: 0 10px;

    .loginTitle {
      width: 100%;
      gap: 5px;

      h1 {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }

    .loginInput {
      margin-top: 5px;

      div {
        gap: 3px;

        span {
          font-size: 11px;
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  .signupContent {
    padding: 0 15px;
    .signupTitle {
      width: 100%;
      gap: 10px;

      h1 {
        font-size: 30px;
      }
    }

    .signupInput {
      div {
        gap: 5px;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .signupContent {
    padding: 0 10px;

    .signupTitle {
      gap: 5px;
      h1 {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }

    .signupInput {
      margin-top: 10px;

      div {
        gap: 3px;

        span {
          font-size: 12px;
        }
      }
    }
  }
}
