.footer {

  background-color: rgb(0, 0, 0);
  padding: 60px;

  .footerContent {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: row;
    color: whitesmoke;
    width: 80%;

    span {
      width: 1px;
      height: 206px;
      background-color: white;
    }

    .footerCards {
      h2 {
        cursor: pointer;
        padding-bottom: 15px;
        background: linear-gradient(
          to right,
          rgb(0, 120, 194) 15%,
          rgb(0, 71, 255) 50%,
          rgb(132, 83, 210) 90%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        margin-bottom: 10px;
        cursor: pointer;
        p {
          margin: 0;
        }
      }

      .footerLinks {
        display: flex;
        gap: 15px;
        cursor: pointer;

        img {
          width: 30px;
          height: auto;
        }
      }
    }

  }
}

@media screen and (max-width: 1400px) {
  .footer {
    .footerContent {
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 50px;
    .footerContent {
      width: 90%;

      span {
        height: 176px;
      }

      .designBy {
        bottom: -20%;
        right: -22%;
      }
    }
  }
}

@media (max-width:780px) {
  .footerContent{
    flex-wrap: wrap;

    span{
      display: none;
    }

    .footerCards{
      width: 150px;
  }
  }
}

// @media (max-width: 780px) {
//   .footer {
//     padding: 20px;

//     .footerContent {
//       display: grid;
//       justify-items: center;

//       grid-template-columns: repeat(2, 1fr);
//       gap: 20px;

//       .footerCards {
//         min-width: 150px;
//         text-align: center;
//         h2 {
//           font-size: 22px;
//         }

//         li {
//           p {
//             font-size: 14px;
//           }
//         }

//         .footerLinks {
//           img {
//             width: 25px;
//             height: auto;
//           }
//         }
//       }

//       .footerLinks {
//         justify-content: center;
//         grid-template-columns: 1fr;
//       }

//       span {
//         display: none;
//       }
//     }
//   }
// }

@media (max-width: 420px) {
  .footer {
    .footerContent {
      .footerCards {
        min-width: 110px;
      }
    }
  }
}
