.personPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .personPageContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    margin: 50px 0;
    gap: 30px;

    .personInfoContainer,
    .personDiplomaContainer {
      background-color: #f0f0f0;
      border-radius: 30px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .personInfoContainer {
      width: 350px;
      height: 525px;

      .personInfo {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 90%;

        padding: 20px 10px;
        font-size: 1.2rem;
        font-weight: normal;

        .personName {
          margin-bottom: 10px;

          div {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
          }

          p {
            margin: 5px 0;
          }
        }

        .contactInfo {
          margin-top: 20px;

          h2 {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 10px;
          }

          p {
            margin: 5px 0;
          }
        }
      }
    }

    .personDiplomaContainer {
      flex: 1;
      width: 900px;
      height: 595px;

      .diplomaTitle {
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
        text-align: center;
        padding: 20px 0;
      }

      .diplomaList {
        padding: 0 20px;

        p {
          margin: 10px 0;
        }
      }
    }
  }
}
