.header {
  height: 105px;
  background-color: #f0f0f0;
  box-shadow: inset 0 -1px 0 0 black;

  .navBar {
    display: flex;
    align-items: center;
    height: 105px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      border-right: 1px solid #000000;

      padding-left: 150px;

      a {
        text-decoration: none;

        p {
          background: linear-gradient(
            to right,
            rgb(0, 120, 194) 15%,
            rgb(0, 71, 255) 50%,
            rgb(132, 83, 210) 90%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;

          padding-right: 15px;
          margin: 0;
        }
      }
    }

    .settings {
      display: flex;
      gap: 30px;
      align-items: center;

      .lang {
        position: relative;
        width: 100px;

        .span {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        img {
          width: 20px;
          height: auto;
          margin-right: 5px;
        }
      }
    }
    .logo,
    .settings {
      height: 100%;
      align-items: center;
    }
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
}
