.header {
  height: 75px;
  background-color: #f0f0f0;

  .navBar {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      height: 100%;

      padding-left: 150px;

      a {
        text-decoration: none;

        p {
          background: linear-gradient(
            to right,
            rgb(0, 120, 194) 15%,
            rgb(0, 71, 255) 50%,
            rgb(132, 83, 210) 90%
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          color: transparent;

          padding-right: 15px;
          margin: 0;
        }
      }
    }

    .settings {
      display: flex;
      gap: 30px;
      align-items: center;
      margin-right: 40px;
      .lang {
        position: relative;
        width: 100px;

        .span {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        img {
          width: 20px;
          height: auto;
          margin-right: 5px;
        }
      }
      .button {
        position: relative;
        background: transparent;
        color: white;
        border: none;
        padding: 5px 1px;
        cursor: pointer;
        border-radius: 8px;
        transition-duration: 0.4s;
        overflow: hidden;
        background: linear-gradient(
          to right,
          rgb(0, 120, 194) 15%,
          rgb(0, 71, 255) 50%,
          rgb(132, 83, 210) 90%
        );
      }
    }
    .logo,
    .settings {
      height: 100%;
      align-items: center;
    }
  }
}

@media (max-width: 1100px) {
  .header {
    .navBar {
      padding: 20px 10px;

      .logo {
        justify-content: center;
        padding-left: 0;
      }

      .settings {
        margin-top: 10px;
        margin-right: 0;
        justify-content: center;
      }

      .lang {
        width: auto;
      }
    }
  }
}
@media (max-width: 780px) {
  .header {
    .navBar {
      padding: 0px 0px;

      .logo {
        justify-content: center;
        padding-left: 0;
        margin-bottom: 0px;
      }

      .settings {

        margin-top: 0;
      }

      .lang,
      .button {
        flex-grow: 1;
      }
    }
  }
}
@media (max-width: 520px) {
  .header {
    .navBar {
      padding: 10px 2px;
      .logo a p {
        font-size: 14px;
      }

      .settings {
        flex-wrap: wrap;
        gap: 5px;
      }

      .lang,
      .button {
        padding: 3px 0;
        font-size: 12px;
        min-width: 50px;
      }
    }
  }
}
