.header {
  height: 105px;
  box-shadow: inset 0 -1px 0 0 (black);
  .navBar {
    display: flex;
    align-items: center;
    height: 105px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      height: 105px;
      border-right: 1px solid #000000;

      p{
        padding-right: 15px;
      }
    }
  }

  .settings {
    display: flex;
    gap: 30px;
  }
}
