.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  height: 600px;

  .textBlock {
    max-width: 720px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .textH {
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .span {
      background: linear-gradient(
        to right,
        rgb(0, 120, 194) 15%,
        rgb(0, 71, 255) 50%,
        rgb(132, 83, 210) 90%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: transparent;
    }
  }

  .mainImg {
    margin-top: 30px;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
}
