.mainBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 500px;

  .textBlock {
    max-width: 720px;
    margin-left: 150px;

    h1 {
      font-size: 3rem;
      margin-bottom: 20px;
    }

    .textH {
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .quote {
      font-style: italic;
      color: #666;
      margin-top: 20px;
      padding-left: 20px;
      border-left: 4px solid #ddd;
      width: 600px;
    }

    .quoteSpan {
      font-size: 16px;
      color: gray;
      padding-left: 39px;
    }
  }

  .mainImg {
    margin-top: 30px;

    img {
      border-radius: 30px;

      width: 75%;
      max-width: 500px;
    }
  }
}
